/ {
	aliases {
		sw1 = &button0;
	};

	pwmleds {
		/* workaround error in upstream board definition that swapped blue and green */
		pwm_led1: pwm_led_1 {
			pwms = <&pwm0 2 PWM_MSEC(8) PWM_POLARITY_NORMAL>;
		};
		pwm_led2: pwm_led_2 {
			pwms = <&pwm0 1 PWM_MSEC(8) PWM_POLARITY_NORMAL>;
		};
	};
};

&bme680 {
	status = "okay";
};

&accel {
	status = "okay";
};
